<div class="header p-2">
  <a class="navbar-brand text-light ml-3" href="#">DIATOZ</a>
  <div class="float-right p-2 navbar-1">
    <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    <mat-icon>account_circle</mat-icon>
    <mat-icon>notifications</mat-icon>
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
</div>
<!-----------------Navbar-1------------------>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          ><i class="fa fa-television" aria-hidden="true"></i> Dashboard
          <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="fa fa-briefcase" aria-hidden="true"></i> Manage Tests</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="fa fa-book" aria-hidden="true"></i> Library</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="fa fa-database" aria-hidden="true"></i> Credits</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="fa fa-ellipsis-v" aria-hidden="true"></i> More</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-info my-2 my-sm-0" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</nav>
<!-----------------End of Navbar-1---- -------------->
<!-----------------section-1------------------>
<h2 class="ml-2">Dashboard</h2>
<div class="row m-1">
  <div class="col-md-3" *ngFor="let item of data">
    <div class="card m-2">
      <div class="card-body">
        <h5 class="card-title">
          {{ item.test }}

          <mat-icon class="float-right">{{ item.icon }}</mat-icon>
        </h5>
      </div>
      <div class="card-footer" [ngStyle]="{ 'background-color': item.color }">
        <small class="text-muted">{{ item.updated }}</small>
        <a
          class="float-right"
          href="https://www.freeiconspng.com/img/1174"
          title="Image from freeiconspng.com"
          ><img
            src="https://www.freeiconspng.com/uploads/arrow-icon--myiconfinder-23.png"
            width="30"
            alt="Arrow icon"
        /></a>
      </div>
    </div>
  </div>
</div>
<!-----------------section-2------------------>
<div class="row m-2 section-2">
  <div class="col-md-6" *ngFor="let item of testResults">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <table class="table table-responsive">
          <thead class="thead-light">
            <tr>
              <th scope="col">Today</th>
              <th scope="col">Yesterday</th>
              <th scope="col">Last 7 days</th>
              <th scope="col">Last 30 days</th>
              <th scope="col">Last 90 days</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ item.today }}</td>
              <td>{{ item.yesterday }}</td>
              <td>{{ item.last_7_days }}</td>
              <td>{{ item.last_10_days }}</td>
              <td>{{ item.last_30_days }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-----------------section-3------------------>
<div class="row m-2 section-3">
  <div class="col-md-6" *ngFor="let item of totalSubmission">
    <div class="card">
      <div class="card-body">
        <h5>{{ item.title }}</h5>
        <table class="table table-responsive">
          <thead class="thead-light">
            <tr>
              <th scope="col">Test Name</th>
              <th scope="col">submission</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <p>{{ item.result }}</p>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
